{% extends "social/base.html" %} {% block title %} Social {% endblock title %}
{% block content %}
<h3>All Posts</h3>

{% for post in data%}
<section>
  <a href="{{post.get_absolute_url}}"> {{post.title}} </a>
  <p>{{post.content|truncatewords:30|linebreaks}}</p>

  <small> Published on{{post.created}} by {{post.author}} </small>
  <br />
  <small> {{post.get_status_display}} </small>
</section>

{% endfor %} 
{% with page=data %} 
{% include "post_pagination.html" %}
{% endwith %} 
{% endblock content %}
